html, body {
  height:100%;
  width: 100%;
  background-color: #f69797;
  font color: white;
}

.main-wrapper {
  background-color: #f69797;
  height: 100%;
  width: 100%;
  position: relative;
  color:white;
  text-align: center;
  font-style:oblique;
}

 a{
   border: 2px dotted;
   padding: 5px;
transition: 300ms;
 color: inherit;
}
a:hover{
  border: 5px solid;

}
img {
  width: 100%;
  height: auto;
}

h1 {
  font color: white;
}

.personal-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
