.louis {
  margin-bottom: 100px
}

.louis span{

  transform: translateY(200px);
  display: inline-block;
  font-size: 100px;
  color: #d72028;
  text-shadow: 9px 10px 0px #f16364;
font-family: sans-serif;
}
.nine {
  margin-left: 1800px
}
.nine span{
  transform: translateX(0px);
  display:inherit;
  font-size: 100px;
  color:#d72028;
  text-shadow: 9px 10px 0px #f16364;
  font-family: sans-serif;
}
.arm span{
  margin-top:800px;
  margin-right: 1000px;
  display:inline-inline-flex;
  font-size: 100px;
  color:#d72028;
  text-shadow: 9px 10px 0px #f16364;
  font-family: sans-serif;
}
.trumpet span{
  margin-bottom: 1000px;
}
