html {
  background-color: white;
};
}
a {
  font: white; }
h1 {
  color: white;
  font-family: serif;
  margin-left: 30px;
}
body {


}

.row {
  display: flex;
  flex-wrap: wrap;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding:0px;
}

.column img {
  width: 100%;
  height:auto;
  vertical-align: middle;
}
.logo{
margin: 0 auto;
display: block;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

img {
  size: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 13px;}
}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #f37e90;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #e06077;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e06077;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 0%;
}
